<h1>Answer Page</h1>

<div class="question">
<p><%= @answer %></p>
<p>- You </p>
</div>

<div class="coach_answer">
  <p><%= @coach_answer %></p>
  <p>- Your coach</p>
</div>

<a href="http://localhost:3000/ask">Ask a new question</a>
